.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.login-page {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.login-content{
  align-items: center;
  margin: 200px;
  background-color: white;
}
.login-card{
  padding: 40px 20px 40px 20px;
}






